
<div class="main-content">
  <div class="container-fluid">
    <mat-label style="color:black;font-size: 20px;"> Choose a Server Name  </mat-label>
    <mat-form-field >
      <mat-select  id="selectedServerSorceId" [(ngModel)]="selectedServerSorceId" [compareWith]="comparer" >
        <mat-option *ngFor="let obj  of liste_des_serveur " [value]="obj" (click)="setserveur(obj.Id)">
          {{ obj.Name }} 
        </mat-option>
      </mat-select>
    </mat-form-field>
      <br><br>
  

      <mat-label style="color:black;font-size: 20px;">Choose data base  </mat-label>
    <mat-form-field >
    
      <mat-select  id="database-select" [(ngModel)]="selectedDatabase" required>
        <mat-option *ngFor="let obj  of liste_des_bd  " [value]="obj" (click)="setbasedonnees(obj.Name)"> {{ obj.Name }} </mat-option>
        
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <div class="card">

            <div class="card-body">
            <mat-label style="color:black;font-size: 20px;">Choose data base  </mat-label>
            <mat-form-field >
            
            <mat-select  id="database-select" [(ngModel)]="selectedDatabase" required>
                <mat-option *ngFor="let obj  of liste_des_bd  " [value]="obj" (click)="setbasedonnees(obj.Name)"> {{ obj.Name }} </mat-option>
                
            </mat-select>
            </mat-form-field>
            <select name="operateur" size="1" value="choix de l'opérateur" class="input2" style="width: 3%;; height:40px; text-align: center;">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <mat-label style="color:black;font-size: 20px;">Choose data base  </mat-label>
            <mat-form-field >
            
            <mat-select  id="database-select" [(ngModel)]="selectedDatabase" required>
                <mat-option *ngFor="let obj  of liste_des_bd  " [value]="obj" (click)="setbasedonnees(obj.Name)"> {{ obj.Name }} </mat-option>
                
            </mat-select>
            </mat-form-field>
            <button type="button" class="btn btn-success" style="margin-left: 500px; width: 30%;">Success</button>
        </div>
        </div>
    </div>
  </div>
  

  
</div>
