<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Acteol
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                       Acteol.info 
                    </a>
                </li>
               
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Acteol</a> .
        </div>
    </div>
</footer>
